body {
  font: normal 100%/1.4 'Open Sans', 'Lucida Grande', sans-serif;
  color: #aaa;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $text-main-color;
}


p {
  color: #aaa;
}


.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
}


main {
  font-size: 0;
}

// typography
h1 {
  font-size: 1.72rem;
  font-weight: normal;
  margin: 2em auto;
  text-align: center;
  color: $text-main-color;
}

h2 {
  font-size: 1.125rem;
  border-bottom: 1px solid #666;
  padding-bottom: 8px;
  margin: 0 0 8px;
  color: #fff;
}

h3 {
  font-size: .875rem;
  color: #fff;
}


/* header */
header {
  text-align: center;
}

/* logo */
.site-name {
  text-transform: uppercase;
  color: #3a3446;
  font-size: 2.75em;
  font-weight: bold;
  // width: 100%;
}

/* nav */
nav {
  // display: inline-block;
  // width: 100%;
}
nav a {
  display: inline-block;
  color: #3a3446;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .875em;
  line-height: 1.5;
  margin: 24px;
}
nav a span {
  display: block;
  color: #95909e;

  font-weight: normal;
  text-transform: none;
}

/* social media */
.social-media {
  // display: inline-block;
  // width: 100%;
  margin: 0;
  padding: 0;
}
.social-media li {
  display: inline-block;
}
.social-media a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px;
}
.social-tumblr {
  background: #fff url(../icomoon/SVG/tumblr2.svg);
}
.social-rss {
  background: #fff url(../icomoon/SVG/rss2.svg);
}
.social-google-plus {
  background: #fff url(../icomoon/SVG/google-plus2.svg);
}
.social-facebook {
  background: #fff url(../icomoon/SVG/facebook2.svg);
}
.social-behance {
  background: #fff url(../icomoon/SVG/behance2.svg);
}


// article
article {
  border-bottom: 1px solid #666;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 1rem;
}
article img {
  float: left;
}
article h3 {
  font-weight: normal;
  margin-bottom: 8px;
}
article h3,
article time,
article span {
  display: block;
  margin-left: 62px;
}
article time,
article span {
  color: #fff;
  opacity: .6;
  font-size: .75rem;
  margin-bottom: 2px;
}
article:last-child {
  border-bottom: none;
}


main {
  background: $content-background-color;
}


// gallery
.gallery {
  margin: 0 auto;
  font-size: 0;
}


// pagination
.pagination {
  font-size: .875rem;
  text-align: center;
  color: $text-sub-color;
  padding: 24px 0;
}
.pagination > a,
.pagination > span {
  display: inline-block;
  border-radius: 4px;
}
.pagination a {
  color: $text-main-color;
  padding: .5em 1em;
  margin-left: 4px;
}
.pagination > .active {
  background: $pagination-background-color;
}


// projects
.projects {
  font-size: 1rem;
}
.projects .inner {
  background: $projects-background-color;
  margin: 12px;
  padding: 24px;
}
.projects a {
  display: inline-block;
  background: #3bb09c;
  color: #fff;
  padding: 1px 0 1px 10px;
  margin: 2px;
  border-radius: 4px;
  line-height: 2;
}
.projects span {
  background: #5abcab;
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
}


// popular
.popular .inner {
  background: $popular-background-color;
  margin: 12px;
  padding: 24px;
}
.popular h2 {
  border-color: #6fc5b6;
}
.popular article {
  border-color: #50b8a6;
}


// footer
footer {
  background: $footer-background-color;
}
footer .site-name {
  color: #fff;
}
.container.copyright {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
}
.copyright {
  background: $copyright-background-color;
  clear: both;
  display: flex;
  justify-content: space-between;
}
.copyright span {
  margin: 12px;
  font-size: .75em;
}
