$main-brand-color:             #31AC97;
$main-dark-color:              #3a3446;
$main-dark-light-color:        #494158;


$text-main-color:              #fff;
$text-sub-color:               #aaa;


$header-background-color:      #fff;
$content-background-color:     $main-dark-color;
$projects-background-color:    $main-dark-light-color;
$popular-background-color:     $main-brand-color;
$footer-background-color:      $main-dark-light-color;
$copyright-background-color:   $main-brand-color;

$pagination-background-color:   $main-dark-light-color;

header {
    border-bottom: 1em solid #444;
}